.owl-next{
  font-size: 2.8rem !important;
  position: absolute;
  right: 0;
  top: 8rem;
  color:black !important;
  background-color: #F6F6F6 !important;
}

.owl-next:hover{
  background-color: #02040F !important;
  color: white !important;
}

.owl-prev{
  font-size: 2.8rem !important;
  position: absolute;
  left: 0;
  top: 8rem;
  color:black !important;
  background-color: #F6F6F6 !important;
}

.owl-prev:hover{
  background-color: #02040F !important;
  color: white !important;
}

.card-container {
  width: 81vw;
  margin: auto;
  margin-top: 1.5rem;
}

.item {
  background-color: whitesmoke;
  height: 20rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right:0.9rem;
  z-index: 1;
}

.card-img {
  width: 100%;
  height: 14rem;
}

.card-context {
  display: flex;
  flex-direction: row;
}

.location {
  width: 1.5rem !important;
  height: 1.5rem !important;
  display: inline-block !important;
  margin-top: 0.9rem;
  margin-left: 0.5rem;
}


.card-text {
    margin-top: 0.7rem;
    margin-left: 0.8rem;
    font-weight: bold;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cisl{
  margin-left: 0.5rem;
}

.star-container {
  background-color: black;
  border-radius: 1rem;
  width: 7rem !important;
  margin-left: 4.5rem !important;
  margin-top: 1rem;
  text-align: center;
}

.star-container2{
    margin-left: 2.5rem !important;
}

.star-pic {
  display: inline-block !important;
  width: 1rem !important;
  height: 1rem !important;
  margin-top: 0.2rem;
}

.section-head{
    text-align:center;
    margin-top: 2rem;
}

.buy-btn{
    margin-top: 0.8rem;
    margin-left: 1rem;
    border-radius: 0.7rem;
    width: 7rem;
    height: 1.5rem;
    background-color:#252422;
    color: white;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: 0.9rem;
    cursor:pointer;
    border: none ;
}

.price{
    margin-left: 3rem;
}

.unit{
    font-size: small;
}

.pricenum{
    font-weight: bolder;
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width:600px) and (min-width:350px) {
  .star-container{
    margin-left: 2rem !important;
  }
  .price{
    margin-left: 2rem !important;
  }
  .pricenum{
    font-size: 1rem;
  }
  .unit{
    font-size: x-small;
  }
  .star-container2{
    margin-left: 1rem !important;
  }
  .cisl{
    margin-left: 1rem !important;
  }
  .cisl-logo{
    margin-left: 0;
  }
}

@media screen and (max-width:350px) {
  .star-container{
    margin-left: 0.7rem !important;
  }
  .price{
    margin-left: 0.2rem !important;
  }
  .pricenum{
    font-size: 1rem;
  }
  .unit{
    font-size: x-small;
  }
  .star-container2{
    margin-left: 0rem !important;
  }
}

@media screen and (max-width:770px) and (min-width:601px){
  .star-container{
    margin-left: 1.5rem !important;
  }
  .price{
    margin-left: 2rem !important;
  }
  .pricenum{
    font-size: 1rem;
  }
  .unit{
    font-size: x-small;
  }
  .star-container2{
    margin-left: 0.5rem !important;
  }
}

@media screen and (min-width:1000px) and (max-width:1025px) {
  .star-container{
    margin-left: 1rem !important;
  }
  .star-container2{
    margin-left: 0.3rem !important;
  }
  .price{
    margin-left: 0.5rem !important;
  }
  .buy-btn{
    margin-left: 0;
  }
}