.mid-footer{
    width: 100vw;
    height: 25vh;
    background-color: #252422;
    margin-top: 3rem;
}

.container{
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    padding-top: 2rem;
}

.lock{
    height: 2rem;
    width: 2rem;
    margin-left: 1.9rem;
    margin-bottom: 0.5rem;
}

.lock-container{
    position: absolute;
    left: 25rem;
    margin-top: 1rem;
}

.mid-text{
    color: white; 
    font-size: small;
}

.paper{
    height: 2rem;
    width: 2rem;
    margin-left: 2.4rem;
    margin-bottom: 0.5rem;
}

.paper-container{
    position: absolute;
    left: 53%;
    margin-top: 1rem;
}

.secure{
    height: 2rem;
    width: 2rem;
    margin-left: 2rem;
    margin-bottom:0.5rem;
}

.secure-container{
    position: absolute;
    left: 34rem;
    margin-top: 1rem;
}

.cash{
    height: 2rem;
    width: 2rem;
    margin-left: 1.5rem;
    margin-bottom:0.5rem;  
}

.cash-container{
    position: absolute;
    right: 22rem;
    margin-top: 1rem;
}

@media screen and (max-width:330px) {
    .mid-footer{
        height: 33vh;
    }
    .lock{
        margin-left: 0.8rem;
    }
    .secure{
        margin-left: 1.2rem;
    }
    .paper{
        margin-left: 1.5rem;
    }
    .cash{
        margin-left: 1rem;
    }
    .cash-container{
        right: 0rem;
    }
    .lock-container{
        left: 0rem;
    }
    .secure-container{
        left: 5.1rem;
    }
    .paper-container{
        left: 50%;
    }
    .mid-text{
        font-size: x-small;
    }
}

@media screen and (max-width:450px) and (min-width:331px) {
    .mid-footer{
        height: 23vh;
    }
    .lock{
        margin-left: 1rem;
    }
    .secure{
        margin-left: 1.2rem;
    }
    .paper{
        margin-left: 1.5rem;
    }
    .cash{
        margin-left: 1rem;
    }
    .cash-container{
        right: 1rem;
    }
    .lock-container{
        left: 1rem;
    }
    .secure-container{
        left: 27vw;
    }
    .paper-container{
        left: 50%;
    }
    .mid-text{
        font-size: x-small;
    }
}

@media screen and (max-width:580px) and (min-width:451px) {
    .mid-footer{
        height: 20vh;
    }
    .lock{
        margin-left: 0.8rem;
    }
    .secure{
        margin-left: 1.2rem;
    }
    .paper{
        margin-left: 1.5rem;
    }
    .cash{
        margin-left: 1rem;
    }
    .cash-container{
        right: 1.5rem;
    }
    .lock-container{
        left: 2vw;
    }
    .secure-container{
        left: 27vw;
    }
    .paper-container{
        left: 50%;
    }
    .mid-text{
        font-size: x-small;
    }
}

@media screen and (max-width:800px) and (min-width:581px) {
    .mid-footer{
        height: 29vh;
    }
    .lock-container{
        left: 20vw;
    }
    .secure-container{
        left: 35vw;
    }
    .paper-container{
        left: 50%;
    }
    .cash-container{
        right: 20vw;
    }
}

@media screen and (max-width:830px) and (min-width:801px) {
    .lock-container{
        left: 20vw;
    }
    .secure-container{
        left: 35vw;
    }
    .paper-container{
        left: 50%;
    }
    .cash-container{
        right: 20vw;
    }
    .mid-footer{
        height: 16vh;
    }
}

@media screen and (max-width:1000px) and (min-width:831px) {
    .lock-container{
        left: 12rem;
        margin-top: 1rem;
    }
    .secure-container{
        left: 21rem;
        margin-top: 1rem;
    }
    .paper-container{
        left: 53%;
    }
    .cash-container{
        right: 20vw;
    }
    .mid-footer{
        height: 14vh;
    }
}

@media screen and (max-width:1200px) and (min-width:1001px) {
    .lock-container{
        left: 15rem;
        margin-top: 1rem;
    }
    .secure-container{
        left: 24rem;
        margin-top: 1rem;
    }
    .paper-container{
        left: 53%;
    }
    .cash-container{
        right: 14rem;
    }
    .mid-footer{
        height: 29vh;
    }
}