*{
    padding: 0;
    margin: 0;
}

.owl-carousel{
    width: 100vw;
}

.slider{
    z-index: -1;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-image: url(./bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar{
    width: 95vw;
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    margin: auto;
    box-shadow: 5px 5px 7px rgba(0, 0, 0,0.4);
    position: absolute;
    top: 1rem;
    left: 2rem;
    height: 2.5rem;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    position: absolute;
    left:1rem;
}

.wname{
    position: absolute;
    left: 4rem;
    font-size: medium;
    font-family: 'Spinnaker', sans-serif;
}

.nav-list{
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: row;
    left: 30vw;
    
}
.nav-text{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li{
    width: 6rem;
    border-radius: 1rem;
    text-align: center;
    transition: background;
    transition-duration: 750ms;
}
li:hover{
    background-color: #403D39;
    color: white !important;
    transition-timing-function: ease-in-out;
}

.contact{
    position: absolute;
    right: 1rem;
    background-color: black;
    color: white;
    width: 6rem;
    text-align: center;
    border-radius: 1rem;
    transition: background;
    transition-duration: 700ms;
    font-family: 'Spinnaker', sans-serif;
}

.contact:hover{
    background: white;
    transition-timing-function: ease-in-out;
    color: black ;
}

@media screen and (max-width:350px) {
    .navbar{
        width: 100vw;
        left: 0;
    }
    .wname{
        font-size: xx-small;
    }
    li{
        width: 2.8rem;
        margin-left: 0rem;
    }
    a{
        font-size: xx-small;
    }
    .nav-list{
        left: 37vw;
    }
    .contact{
        width: 2.8rem;
        right: 0.2rem;
    }
}

@media screen and (max-width:580px) {
    .navbar{
        width: 100vw;
        left: 0;
    }
    .wname{
        font-size: xx-small;
        left: 3.2rem;
    }
    li{
        width: 2.6rem;
        margin-left: 0rem;
    }
    a{
        font-size: xx-small;
    }
    .nav-list{
        left: 6.4rem;
    }
    .logo{
        left: 0.3rem;
    }
    .contact{
        width: 2.8rem;
        right: 0.2rem;
    }
}