.section-head{
    text-align:center;
    margin-top: 2rem;
}

.section{
    width: 100vw;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    margin-top: 2.5rem;
    align-items: center;
    justify-content: center;
}

.card1{
    width: auto;
    background-color: white;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.4);
    height: 21.5rem;
}

.locate{
    margin-left: 1rem;
    margin-top: 0.7rem;
}

.c1-context{
    display: flex;
    flex-direction: row;
}

.c1text{
    margin-top: 0.7rem;
    margin-left: 1.5rem;
    font-weight: bold;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.star{
    margin-top: 0.7rem;
    margin-left: 4rem;
    width: 7rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #252422;
}

.stpic{
    margin-top: 0.2rem;
}

.buy-btn{
    margin-top: 0.8rem;
    margin-left: 1rem;
    border-radius: 0.7rem;
    width: 7rem;
    height: 1.5rem;
    background-color:#252422;
    color: white;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    font-size: 0.9rem;
    cursor: pointer;
    border: none ;
}

.price{
    margin-left: 1.7rem;
}

.unit{
    font-size: small;
}

.pricenum{
    font-weight: bolder;
    font-size: 1.3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cmargin{
    margin-left: 1rem;
}

.star2{
    margin-left: 2rem;
}

@media screen and (max-width:1220px) and (min-width:1081px) {
    .cards{
        width: 90vw;
    }
}

@media screen and (max-width:1080px) and (min-width:975px) {
    .cards{
        width:100vw;
        margin-left: 0.5rem;
    }
    
}
@media screen and (max-width:974px) {
    .cards{
        flex-direction: column;
    
    }
    .cmargin{
        margin-left: 0;
        margin-top: 1rem;
    }
    
}
